@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');

.profile {
    display: grid;
    grid-template-areas:
            "userCard userInfo";
    grid-template-columns: 220px 1fr;

    grid-column-gap: 20px;
    grid-row-gap: 10px;
    color: #fff;

    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05); */
    /* padding: 10px; */
    text-align: left;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .profile {
        grid-template-areas:
                "userCard"
                "userInfo";
        grid-template-columns: 1fr;
    }
}