.statusWrapper {
  cursor: pointer;
  font-size: 13px;
  //line-height: .9;
  color: #cacaca;
  text-align: center;
}

.clickToChange {
  display: block;
  font-size: 10px;
  color: #737373;
  margin-left: 3px;
}

.noStatus {
  color: #b0b0b0
}