.userCard {
    position: relative;
    grid-area: userCard;
    border-radius: 5px;
    background-color: #303030;
    padding-bottom: 15px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.userPhoto {
    /*width: 220px;*/
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.userPhoto img {
    /*width: 218px;*/
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.fullName {
    /*font-family: 'Palanquin Dark', sans-serif;*/
    text-align: center;
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    box-sizing: border-box;
    color: #cacaca;
    line-height: 1.2;
    margin-bottom: 10px;
}

.photoUpload {
    position: absolute;
    top: 0;
    left: 0;
}

.input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.label {
    cursor: pointer;
    background-color: rgba(48, 48, 48, 0.8);
    padding: 7px 9px;
    color: #cacaca;
    font-size: 12px;
    z-index: 10;
    border-radius: 5px 0 5px 0;
}

@media screen and (max-width: 768px) {
    .label {
        font-size: 17px;
    }
}

.label:hover {
    background-color: #7c7c7c;
}

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
