.profile {
    grid-area: main;

    display: grid;
    grid-template-areas:
    "cover cover"
    "userPhoto userInfo"
    "postsArea postsArea";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 120px 150px 1fr;
    gap: 10px;
    color: #fff;

    background-color: gray;
    padding: 10px;
    text-align: left;
}

.cover, .userPhoto, .userInfo {
    background-color: #000;
    text-align: left;
    padding: 10px;

}

.cover {
    grid-area: cover;
}
.userPhoto {
    grid-area: userPhoto;
    border-radius: 75px;
    text-align: center;
}
.userInfo {
    grid-area: userInfo;
}
