.page {
    margin: 3px;
    cursor: pointer;
}

.activePage {
    margin: 3px;
    font-weight: bold;
}

.paginator {
    color: #404040;
    margin-bottom: 20px;
}

.paginator a, .paginator a:visited{
    text-decoration: none;
    color: #404040;
    cursor: pointer;
}

.btn {
    margin-bottom: 1rem;
}

.selectField {
    margin-bottom: 2rem;
}