.users {
    grid-area: main;

    //background-color: #fff;
    //box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 10px;

    color: #404040;

    //border: 1px solid #dfdfdf;
}

.usersWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 260px 260px 260px 260px 260px;
    grid-gap: 15px;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    box-sizing: border-box;
    float: left;
    background-color: white;
    margin: 3px;
    border-radius: 25px 0 0 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    //padding: 20px;
}

.userCard a {
    text-decoration: none;
    color: #404040;
}

.userCard a:visited {
    color: #404040;
}

.userCard:last-child {
    margin-bottom: 0px;
}

.name {
    //text-transform: uppercase;
    font-size: 15px;
    //background-color: #eaeaea;
    padding-bottom: 5px;
}

.ava {
    width: 100%;
    border-radius: 25px 0 0 0px;
    //margin-top: -40px;
}

.cardBody {
    padding: 3px 10px 0 10px;
}

.followFooter {
    background-color: #404040;
    height: 20%;
    position: relative;
    bottom: 0;
}

.followFooter button {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #C4FF9C;
    font-size: 2rem;
    color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    text-shadow: 0 0 10px rgba(0,0,0,0.15);
    font-weight: bold;
}

.id {
    margin-bottom: 5px;
}



