.friendPreview {
    display: inline-block;

    margin: 0 auto;
    width: 33.3%;
    min-width: 40px;
    /* background-color: gray; */
    margin-bottom: 5px;
    /* background-color: red; */
}

.ava {
    display: block;
    top: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #C4FF9C;
    margin: 0 auto;
    margin-top: 5px;
}

.name {
    font-size: 12px;
    position: relative;
    left: 0;
    text-align: center;
    margin: 5px auto;
}
