.wrapper {
    border: 1px solid #dfdfdf;
    border-left: none;
}
.chat {
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: calc(100% - 60px);
    box-sizing: border-box;
    overflow-y: scroll;
}


