.userInfo {
    box-sizing: border-box;
    grid-area: userInfo;
    display: grid;
    grid-template-rows: 25% 75%;
    color: #404040;
    font-size: 10px;
    /*background-color: white;*/
    /*padding: 20px;*/
}

.jobAndAboutMeWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 17px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dfdfdf;
    background-color: white;
}

.contactsWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dfdfdf;;
    background-color: white;
}

.noInfo {
    color: #b0b0b0;
}

.activateEditModeButton {
    border-radius: 3px;
    border: none;
    background-color: #d5ffb8;
    transition: all 300ms;
    color: #383233;
}

.activateEditModeButton:hover {
    background-color: #c3ffa9;
}

.materialIcons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


