.userInfo {
    box-sizing: border-box;
    grid-area: userInfo;
    display: grid;
    grid-template-rows: 22% 78%;
    color: #404040;
    /*background-color: white;*/
    /*padding: 20px;*/
}

.jobAndAboutMeWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dfdfdf;;
    background-color: white;
}

.contactsWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dfdfdf;;
    background-color: white;
}

.noInfo {
    color: #b0b0b0;
}


