.userInfo {
    box-sizing: border-box;
    grid-area: userInfo;
    display: grid;
    grid-template-rows: 22% 78%;
    background-color: white;
    color: #404040;
    padding: 20px;
}

.contactsWrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eeeeee;
    margin-top: 10px;
}

.jobAndAboutMeContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noInfo {
    color: #b0b0b0;
}


