.postsArea {
    grid-area: postsArea;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    color: #404040;
    text-align: left;
    padding: 20px;
}

.list {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}


.postsArea textarea {
    width: 50%;
    height: 40px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
    border: thin solid #B8B8B8;
}

.postsArea button {
    margin-top: 5px;
    padding: 6px 20px;
    background-color: #404040;
    color: #fff;
}
