.postsArea {
    grid-area: postsArea;
    background-color: #000;
    text-align: left;
    padding: 10px;
}

.list {
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}


textarea {
    width: 50%;
    height: 40px;
    resize: none;
   }
