.header {
    display: flex;
    grid-area: header;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    color: #404040;
    padding: 7px;
    padding-left: 15px;
    text-align: left;
}

.logo {
    font-family: 'Gochi Hand', cursive;
    font-size: 25px;
}

@import url('https://fonts.googleapis.com/css?family=Gochi+Hand&display=swap');
