.sidebar {
    grid-area: sidebar;
    text-align: left;
    color: #404040;
    font-size: 13px;

}

.sidebar a {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: all 200ms;
    padding-left: 20px;
}

.sidebar a:visited {
    color: inherit;
    box-sizing: border-box;
}

.sidebar a.active {
    padding-left: 30px;
}

.sidebar a.active:hover {
    padding-left: 30px;
}

.sidebar a:hover {
    padding-left: 25px;
}

.menu {
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    padding: 5px 0;
}

.menuItem {
    padding: 10px 20px;
    /* border: thin solid black; */
    margin-top: 10px;
    margin-bottom: 10px;
}
