.profileInfo {
    display: grid;
    grid-template-areas:
            "cover cover"
            "userPhoto userInfo";
    grid-template-columns: 150px 1fr;
    grid-template-rows: 120px 150px;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    color: #fff;

    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.05); */
    /* padding: 10px; */
    text-align: left;
    margin-bottom: 10px;
}

.userInfo {
    text-align: left;
    padding: 10px 20px 20px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    color: #404040;
}

.cover {
    grid-area: cover;
    /* background-color: #C4FF9C; */
    text-align: left;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border: 1px solid #dfdfdf;
}

.cover img {
    width: 100%;
}

.userPhoto {
    grid-area: userPhoto;
    text-align: center;
    /* transform: scale(0.9); */
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 75px;
    border: 1px solid #dfdfdf;
}

.userPhoto img {
    width: 150px;
    height: 150px;

}

.userInfo {
    grid-area: userInfo;
}

.userInfo:first-child {
    margin-top: 20px;
}

.aboutMe {

}

.fullName {
    /*font-family: 'Palanquin Dark', sans-serif;*/
    font-family: 'Ramabhadra', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: thin solid #B8B8B8;
    box-sizing: border-box;
    margin-top: -7px;
    margin-bottom: -20px;
}

@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
