body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("assets/images/bg.jpg") fixed;
    background-size: 100%;
}

html {
    overflow-y: scroll;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: grid;
    margin-top: 60px;
    grid-template-areas: "sidebar main" "footer footer";
    grid-template-columns: 10% 90%;
    grid-template-rows: 1fr 40px;
    grid-column-gap: 30px;
    grid-row-gap: 20px;

    margin-left: calc(13% - 10px);
    margin-right: 13%;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .App {
        margin-left: 2%;
        margin-right: calc(2% + 10px);
        grid-template-columns: 15% 85%;
        grid-template-rows: 1fr 40px;
        grid-column-gap: 10px;
    }
}

.zindex0 {
    z-index: 0;
}
