body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

html {
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
    display: grid;

    grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
    grid-template-columns: 20% 80%;
    grid-template-rows: 70px 1fr 50px;
    gap: 10px;

    margin-left: calc(10% - 10px);
    margin-right: 10%;
    color: #fff;
}
