.dialogs {
    grid-area: main;

    display: grid;
    grid-template-columns: 3fr 10fr;
    gap: 1px;

    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    /* padding: 10px; */
    text-align: left;
}
