.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    line-height: 3em;
    font-size: 15px;
}

.nav {
    grid-area: nav;
    background-color: gray;
    padding: 10px;
    text-align: left;
}
