.loginForm {
  margin-top: 20px;
}

.field {
  width: 60%;
  border: none;
  margin: 10px 0;
  font-size: 30px;
}

@media screen and (max-width: 1000px) {
  .field {
    font-size: 20px;
    width: 100%;
  }
}

.field.error {
  border: 2px solid rgba(161, 0, 0, 0.55);
  box-sizing: border-box;
}

.field::placeholder {
  color: #bdbdbd
}

.field:hover {
  background-color: #eeeeee;
}

.field:focus {
  border: none;
  box-shadow: none;
  background-color: #eeeeee;
  outline: none;
}

.checkboxText {
  margin-left: 5px;
  color: #525252;
  font-size: 15px;
}

.label:hover {
  background-color: #eeeeee;
}

.checkbox {
  margin-top: 20px;
}

.button {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  font-size: 20px;
  background-color: #dbdbdb;
  border: none;
}

.button:hover {
  background-color: #e8e8e8;
}

.errorSpan, .warningSpan {
  color: rgba(161, 0, 0, 0.55);
  margin-left: 5px;
}

.summaryError {
  color: rgb(161, 91, 95);
  padding: 10px;
  border: 2px solid rgb(161, 91, 95);
  margin-top: 20px;
}
